*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header{
  padding: 50px 0;
  background-color: #333333ed;
  box-shadow: 0px 4px 2px #000000db;
  z-index: 2;

}
header li{
  list-style-type: none;
  float: left;
  margin-left: 20px;
}
header li a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
}
header li a:hover,
a.active{
  color: #fff;
}
header .hexa{
  float: right;
}
header .hexa li{
  margin: 0 5px 0 5px;
 width: 45px;
 height: 26px;
 position: relative;
 float: left;
 z-index: 1;
}
header .hexa li::after,
.hexa li::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2b2929;
}
.hexa li::after{
  transform: rotate(60deg);
}
.hexa li::before{
  transform: rotate(-60deg);
}
.hexagon-content{
  width: 100%;
  height: 100%;
  background-color: #2b2929;
  position: relative;
  z-index: 1;
}
.hexagon-icon{
  width: 25px;
  height: 25px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #4a4a4aed;
  z-index: 999;
}
header i{
  width: 100%;
  text-align: center;
  color: #00000057;
  padding: 7px 0px 0px 1px;
}
header a.icon{
  text-decoration: none;
  font-weight: none;
  font-size: 14px;
}
header a i:hover{
  color: #ccc;
}
header::after{
  content: "";
  display: block;
  clear: both;
}

/* Banner  */
#main-banner{
  background-color: #940404;
  position: relative;
  z-index: 1;
  min-height: 700px;
  margin-top: 3px;
}
#main-banner img{
  position: relative;
  top: -80px;
  left: 40%;
}
.banner-content{
  position: absolute;
  top: 25%;
  left: 0;
  text-align: center;
  width: 100%;
}
#main-banner h3.company-name{
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  margin-bottom: 25px;
}
#main-banner h1.tittle{
  margin: 0 auto;
  font-size: 40px;
  font-family: Montserrat;
  max-width: 985px;
  color: #ffffffbf;
  text-transform: uppercase;
  text-shadow: 0px 5px 10px #000;
  line-height: 1.6em;
}
#main-banner p.sub-content{
  width: 100%;
  max-width: 1080px;
  margin: 20px auto;
  color: #fff;
  font-size: 16px;
  text-align: left;
  font-family: Montserrat;
  line-height: 1.6em;
}
#main-banner a.btn{
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  border: 1px solid #02b347;
  border-radius: 4px;
  background-color: #17b168;
  color: #fff;
  box-shadow: 0px 5px 0px #294839;
  transition: all 0.3s ease-in-out;
}
#main-banner a:hover{
  background-color: #33ca82;
  transition: all 0.3s ease-in-out;
}
#main-banner::after{
  position: absolute;
  width: 40px;
  height: 40px;
  border-top: 0px solid #000;
  border-right: 2px solid #940404;
  border-bottom: 2px solid #940404;
  border-left: 0px solid #000;
  top: 100%;
  left: 50%;
  margin-left: -35px;
  content: "";
  transform: rotate(45deg);
  margin-top: -37px;
  background-color: #940404;
  padding: 15px;
}
